* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "scroll-behavior" smooth;
}
/* .container { */
  /* background-image: url("https://lncimg.lance.com.br/cdn-cgi/image/width=1300,height=750,quality=75,background=white,fit=pad/uploads/2023/08/Maracana-aspect-ratio-512-320-3.jpeg"); */
/* } */

.navbar {
  background-color: transparent;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Certifica-se de que a largura é de 100% */
}

.nav-item {
  flex: 1; /* Faz com que cada item ocupe o mesmo espaço */
  text-align: center; /* Centraliza o texto horizontalmente */
  height: 100%;
  width: 100%;
}

.logo {
  width: 15rem;
  height: 5rem;
}

.logo img {
  max-width: 100%;
}

.containerMenuCentral img{
  width: 100%;
  height: 100%;
  max-width: 1440px;
  max-height: 597px;

  object-fit: cover;
  object-position: center;

  /* box-shadow: 10px 20px grey; */
  /* border-color: black;
  border: 15px ridge black; */
  
}

.containerMenuCentral {
  margin: 20px 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  flex-wrap: wrap;

  width: 100%;
  max-width: 1440px;
}

/* .col{
  background-color: red;
  height: 30rem;
  display: grid ;
}

.card {
  width: 20rem !important;
  height: 20rem !important;
  
  justify-content: space-between;
  text-align: center;
}

.card img {
  border-radius: 3px;
}

/* .col .card-body {
  background-color: lightgray;
  width: 20rem;
  height: 20rem;
  border-radius: 3px;
} */

.col{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

html, body {
  overflow-x: hidden;
}