* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham", sans-serif;
}


/* NAV / MENU  */
  .navbar {
    background-color: transparent;
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Certifica-se de que a largura é de 100% */
  }

  .nav-item {
    flex: 1; /* Faz com que cada item ocupe o mesmo espaço */
    text-align: center; /* Centraliza o texto horizontalmente */
    height: 100%;
    width: 100%;
  }

  .logo {
    width: 15rem;
    height: 5rem;
  }

  .logo img {
    max-width: 100%;
  }

/* Fechando NAV / MENU  */

/* Slide de Cards  */

.slide-body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(9,105,94,1) 100%);
}

.slide-container{
  max-width: 1120px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
}

.card {
  width: 320px;
  border-radius: 25px;
  background-color: #fff;
}

.image-content, .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content{
  position: relative;
  row-gap: 5px;
  padding: 10px 14px;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: red;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: red;
}

.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 20%;
  background-color: #fff;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20%;
  border: 4px solid red;

}

.cod{
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.descricao {
  font-size: 14px;
  color: #000000;
  text-align: center;
}

.button{
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: red;
  border-radius: 5px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover{
  background: lightcoral;
}

.containerMenuCentral img {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  max-height: 597px;

  object-fit: cover;
  object-position: center;

  /* box-shadow: 10px 20px grey; */
  /* border-color: black;
  border: 15px ridge black; */
}

.containerMenuCentral {
  margin: 20px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  flex-wrap: wrap;

  width: 100%;
  max-width: 1440px;
}

html,
body {
  overflow-x: hidden;
}
